<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Application pour teste de framework</display-name>

    <!-- ***** CSS ***** -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    <!-- ********* Rooter ************** -->
    <servlet>
        <servlet-name>rooter</servlet-name>
        <servlet-class>jframework.servlet.RooterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rooter</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
